@(title: String)(content: Html)(implicit request: Request[Any])

<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">    
    <title>Feeling Lucky</title>

    <!-- Bootstrap -->
    <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
  </head>
  <body>
<input  type="hidden" id="ws-url" value="@routes.Application.socket.webSocketURL()"/> 

    <div ng-view></div> 

    <script src="@routes.Assets.at("javascripts/jquery.1.11.1.min.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>

    <script src="@routes.Assets.at("lib/angular/angular.js")"></script>
    <script src="@routes.Assets.at("lib/angular/angular-route.js")"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-cookies.js"></script>
    <script src="@routes.Assets.at("js/app.js")"></script>
    <script src="@routes.Assets.at("js/services.js")"></script>
    <script src="@routes.Assets.at("js/controllers.js")"></script>
    <script src="@routes.Assets.at("js/filters.js")"></script>
    <script src="@routes.Assets.at("js/directives.js")"></script>

  </body>
</html>